{% case collection.handle %}
{% when 'stands-dock' %}
<p class="collection-group__desc font-georgia">
  We created the monitor stand to bring a touch more class and style to your desk, while also solving the underlying ergonomics issue.
</p>

{% when 'desk-accessories' %}
<p class="collection-group__desc font-georgia">
  People choose to surround themselves with beautiful and meaningful objects. This is why we always focus on the sculptural aspect of our products.</p>
</p>

{% when 'wood-speakers-amp'%}
<p class="collection-group__desc font-georgia">
  “Everyone will be jealous, and honestly, that feeling of superiority is priceless.” <em>- TechCrunch</em>
</p>

{% endcase %}
