{% case collection.handle %}
{% when 'stands-dock' %}
<ul class="collection-group__list">
  <li class="font-din">
    Ergonomics
  </li>
  <li class="font-din">
    Organizational
  </li>
  <li class="font-din">
    Design
  </li>
</ul>

{% when 'desk-accessories' %}
<ul class="collection-group__list">
  <li class="font-din">
    Minimalistic
  </li>
  <li class="font-din">
    Naturally Durable
  </li>
  <li class="font-din">
    Functional
  </li>
</ul>

{% when 'wood-speakers-amp'%}
<ul class="collection-group__list">
  <li class="font-din">
    Acoustic Driven Design
  </li>
  <li class="font-din">
    Craftmanship
  </li>
  <li class="font-din">
    High Fidelity Sound
  </li>
</ul>

{% endcase %}
