<nav class="superbar">
  <div class="products">
    <a href="/collections/stands-dock" class="sb-stand">
      <div class="sb-img">
        <img src="{{ 'sb-stand.png' | asset_url }}" class="sb-stand-img" alt="">
      </div>
      <h4 class="font-din">Monitor Stands</h4>
    </a>
    <a href="/collections/desk-accessories" class="sb-da">
      <div class="sb-img">
        <img src="{{ 'sb-da.png' | asset_url }}" class="sb-da-img" alt="">
      </div>
      <h4 class="font-din">Desk Accessories</h4>
    </a>
    <a href="/collections/wood-speakers-amp" class="sb-speakers">
      <div class="sb-img">
        <img src="{{ 'sb-speakers.png' | asset_url }}" class="sb-speakers-img" alt="">
      </div>
      <h4 class="font-din">Wood Speakers</h4>
    </a>
  </div>
  <div class="shop-all">
    <a href="/collections/all"><h3 class="font-din">Shop All Products</h3></a>
  </div>
</nav>
